# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# DuckDB
*.duckdb

# dbt
gridsight_dbt/target/
gridsight_dbt/dbt_packages/
gridsight_dbt/logs/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Models (optional)
# Uncomment if you don't want to version models
# *.joblib
# *.pkl

# Logs
logs/
*.log

# MLflow
mlruns/